@using DamacanaWeb.Models
@model List<DamacanaWeb.Models.Product>
@{
    ViewBag.Title = "Home Page";
}

<h2>Add New Potion</h2>

@using (Html.BeginForm("AddProduct", "Home", FormMethod.Post))
{

    <button type="submit" class="btn btn-default">Add New Potion</button>
}


@foreach (Product p in Model)   
{
    <h2>
        @p.Name (@p.Id)
    </h2>
    <p>
        @p.Price
    </p>
    <hr />
}

